@model List<Portfolio.DomainClasses.Work>
@{
    ViewData["Title"] = "Works";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Works.css" rel="stylesheet" />
@section Scripts{
    <script>

        filterSelection("all") // Execute the function and show all columns
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }





    </script>

}


<section class="awe-section bg-gray">
    <div id="myBtnContainer">

        <button class="btn active md-btn md-btn--outline-primary awe-text-center mt-50" onclick="filterSelection('all')"> Tümü </button>
        <button class="btn md-btn md-btn--outline-primary awe-text-center mt-50" onclick="filterSelection('a')"> Logo</button>
        <button class="btn md-btn md-btn--outline-primary awe-text-center mt-50" onclick="filterSelection('2')"> Web Tasarım</button>
        <button class="btn md-btn md-btn--outline-primary awe-text-center mt-50" onclick="filterSelection('3')"> Ambalaj Tasarımı</button>
        <button class="btn md-btn md-btn--outline-primary awe-text-center mt-50" onclick="filterSelection('4')"> Kurumsal Kimlik</button>
        <button class="btn md-btn md-btn--outline-primary awe-text-center mt-50" onclick="filterSelection('5')"> Sosyal Medya Tasarımı</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">

                <!-- title -->
                <div class="title">
                    <h2 class="title__title">My work</h2>
                </div><!-- End / title -->

            </div>
        </div>
        <div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
            <div class="grid__inner">
                <div class="grid-sizer"></div>
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (i % 3 == 0)
                        {
                            <div class="column @item.CategoryID ">
                                <div class="grid-item">
                                    <div class="grid-item__inner">
                                        <div class="grid-item__content-wrapper">

                                            <!-- work -->

                                            <div class="work">
                                                <a href="works/detail/@item.WorkID">

                                                    <!-- hoverbox ef-slide-bottom -->
                                                    <div class="hoverbox ef-slide-bottom light">

                                                        <!-- hb_front -->
                                                        <div class="hb_front">
                                                            <img src="~/img/works/@item.MainPhoto" alt="@item.CategoryID" />
                                                        </div><!-- End / hb_front -->
                                                        <!-- hb_back -->
                                                        <div class="hb_back">
                                                            <h2 class="work__title">@item.WorkDescription </h2><span class="work__text">View detail</span>
                                                        </div><!-- End / hb_back -->

                                                    </div><!-- End / hoverbox ef-slide-bottom -->
                                                </a>
                                            </div><!-- End / work -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                        else if (i % 3 == 1)
                        {
                            <div class="column @item.CategoryID">
                                <div class="grid-item" style="position: absolute; left: 389px; top: 0px; width: 389px;">
                                    <div class="grid-item__inner">
                                        <div class="grid-item__content-wrapper">

                                            <!-- work -->

                                            <div class="work">
                                                <a href="works/detail/@item.WorkID">

                                                    <!-- hoverbox ef-move-top -->
                                                    <div class="hoverbox ef-move-top light">

                                                        <!-- hb_front -->
                                                        <div class="hb_front">
                                                            <img src="~/img/works/@item.MainPhoto" alt="@item.CategoryID">
                                                        </div><!-- End / hb_front -->
                                                        <!-- hb_back -->
                                                        <div class="hb_back">
                                                            <h2 class="work__title">@item.WorkDescription</h2><span class="work__text">View detail</span>
                                                        </div><!-- End / hb_back -->

                                                    </div><!-- End / hoverbox ef-move-top -->
                                                </a>
                                            </div><!-- End / work -->
                                        </div>
                                    </div>
                                </div>
                            </div>



                            i++;
                        }
                        else
                        {
                            <div class="column @item.CategoryID">
                                <div class="grid-item" style="position: absolute; left: 779px; top: 0px; width: 389px;">
                                    <div class="grid-item__inner">
                                        <div class="grid-item__content-wrapper">

                                            <!-- work -->

                                            <div class="work">
                                                <a href="works/detail/@item.WorkID">

                                                    <!-- hoverbox ef-slide-right -->
                                                    <div class="hoverbox ef-slide-right light">

                                                        <!-- hb_front -->
                                                        <div class="hb_front">
                                                            <img src="~/img/works/@item.MainPhoto" alt="@item.CategoryID">
                                                        </div><!-- End / hb_front -->
                                                        <!-- hb_back -->
                                                        <div class="hb_back">
                                                            <h2 class="work__title">@item.WorkDescription</h2><span class="work__text">View detail</span>
                                                        </div><!-- End / hb_back -->

                                                    </div><!-- End / hoverbox ef-slide-right -->
                                                </a>
                                            </div><!-- End / work -->
                                        </div>
                                    </div>
                                </div>
                            </div>



                            i++;
                        }


                    }
                }

            </div>
        </div>
    </div>
</section>
    @*<div class="awe-text-center mt-50">
                <a class="md-btn md-btn--outline-primary" href="#">
                    all work
                </a>
            </div>

        </section>
            <div class="column people">
                <div class="content">
                    <img src="/w3images/people3.jpg" alt="People" style="width:100%">
                    <h4>Woman</h4>
                    <p>Lorem ipsum dolor..</p>
                </div>
            </div>*@
    <!-- END GRID -->
